@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container-app {
    @apply bg-solabGray-900 text-solabWhite-500 text-base;
    font-family: 'Roboto', sans-serif;
}

.container-admin {
    @apply bg-blue-300 text-solabWhite-500;
    font-family: 'Roboto', sans-serif;
}

.gradient-background-1 {
    background: linear-gradient(
        90deg,
        #1ee8bb -18.52%,
        #18b1dc 17%,
        #4185ea 49.73%,
        #8e4ec7 85.24%,
        #ff50ce 115.19%
    );
}

.gradient-background-2 {
    background: linear-gradient(
        90deg,
        #1ee8bb -22.11%,
        #18b1dc 42.02%,
        #4185ea 101.11%,
        #8e4ec7 165.23%,
        #ff50ce 219.3%
    );
}

.gradient-background-3 {
    background: linear-gradient(
        270deg,
        #1ee8bb -159.65%,
        #18b1dc -85.27%,
        #4185ea -16.73%,
        #8e4ec7 57.64%,
        #ff50ce 120.35%
    );
}

.text-gradient-1 {
    background: linear-gradient(
        90deg,
        #1ee8bb -18.52%,
        #18b1dc 17%,
        #4185ea 49.73%,
        #8e4ec7 85.24%,
        #ff50ce 115.19%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-1-on-hover:hover {
    background: linear-gradient(
        90deg,
        #1ee8bb -18.52%,
        #18b1dc 17%,
        #4185ea 49.73%,
        #8e4ec7 85.24%,
        #ff50ce 115.19%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    @apply py-2 px-4 rounded-lg shadow-md hover:opacity-90;
}

.btn-pink {
    @apply text-solabWhite-500 text-base bg-pink-500;
}

.btn-cyan {
    @apply text-solabWhite-500 text-base bg-solabCyan-500;
}

.btn-lg {
    @apply py-3.5 px-14;
}

.btn-sm {
    @apply py-1 px-1;
}

.btn-gradient {
    @apply text-solabWhite-500;
    background: linear-gradient(
        90deg,
        #1ee8bb -18.52%,
        #18b1dc 17%,
        #4185ea 49.73%,
        #8e4ec7 85.24%,
        #ff50ce 115.19%
    );
}

.title {
    @apply text-3xl font-bold;
}

.title-2 {
    @apply text-xl font-bold;
}

.title-3 {
    @apply text-2xl font-bold;
}

.bg-image-earth {
    background-image: url('/bg-earth.svg');
}
.vertical-timeline-element-icon {
    left: 11px;
}
.vertical-timeline-element-content-arrow {
    top: 0;
}

.vertical-timeline.vertical-timeline--two-columns:before {
    /* background: #6c738d;
    width: 2px; */
    border: 1px dotted #6c738d;
    width: 0;
    background: none;
}
.vertical-timeline--two-columns .vertical-timeline-element-icon {
    box-shadow: 0 0 0 6px rgba(29, 231, 187, 0.32),
        inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 6px rgba(0, 0, 0, 0.05);
}
.vertical-timeline-element-content {
    box-shadow: none;
    -webkit-box-shadow: none;
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline--two-columns .vertical-timeline-element-icon {
        left: 51% !important;
        margin-left: -20px;
    }
    .vertical-timeline--two-columns
        .vertical-timeline-element-content
        .vertical-timeline-element-date {
        top: 0 !important;
    }
}

.sidebar-link {
    @apply text-base text-gray-100 font-normal rounded-lg flex items-center p-2 hover:bg-gray-100;
}

.sidebar-link-active {
    @apply bg-solabBlue-500;
}

.sidebar-icon {
    @apply w-6 h-6 text-solabWhite-500 flex-shrink-0 group-hover:text-blue-light transition duration-75;
}

.sidebar-icon-active {
    @apply text-solabWhite-500;
}

.sidebar-content {
    @apply ml-3 font-bold group-hover:text-solabBlue-500;
}

.sidebar-content-active {
    @apply text-solabWhite-500;
}

.input-primary {
    @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg  block w-full p-2.5 focus:ring-orange-500 focus:border-orange-500 focus:outline-none;
}
.wallet-adapter-modal-wrapper {
    @apply bg-solabGray-300 text-solabWhite-500 !important;
}
.wallet-adapter-modal-title {
    @apply text-solabWhite-500 !important;
}
.wallet-adapter-button {
    @apply py-2.5 px-5 h-full leading-none bg-solabGray-300 border border-solid border-solabCyan-500 border-opacity-100 rounded text-solabWhite-500 !important;
}

.react-datetime-picker {
    color: black !important;
}

.swiper-pagination-bullet-active {
    @apply bg-solabCyan-500 !important;
}
.swiper-pagination-bullet {
    @apply bg-solabGray-100;
}

@media only screen and (min-width: 1024px) {
    .banner {
        background-image: url('../assets/images/banner.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: auto 120%;
    }
}

.input {
    @apply border border-solabGray-50 bg-solabGray-300 rounded py-2 focus:outline-none px-2 text-xs lg:text-base w-full;
}

.input-cyan {
    @apply focus:border-solabCyan-500 focus:ring-solabCyan-500 focus:text-solabWhite-500;
}

.active-dot svg {
    @apply text-solabCyan-500 block;
}
