@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.container-app {
    @apply bg-blue-900 text-white-500;
    font-family: 'Open Sans', sans-serif;
}

.container-admin {
    @apply bg-blue-300 text-white-500;
    font-family: 'Open Sans', sans-serif;
}

.gradient-background-1 {
    background: linear-gradient(
        90deg,
        #1ee8bb -18.52%,
        #18b1dc 17%,
        #4185ea 49.73%,
        #8e4ec7 85.24%,
        #ff50ce 115.19%
    );
}

.gradient-background-2 {
    background: linear-gradient(
        90deg,
        #1ee8bb -22.11%,
        #18b1dc 42.02%,
        #4185ea 101.11%,
        #8e4ec7 165.23%,
        #ff50ce 219.3%
    );
}

.gradient-background-3 {
    background: linear-gradient(
        270deg,
        #1ee8bb -159.65%,
        #18b1dc -85.27%,
        #4185ea -16.73%,
        #8e4ec7 57.64%,
        #ff50ce 120.35%
    );
}

.btn {
    @apply py-2 px-4 rounded-lg shadow-md hover:opacity-90;
}

.btn-pink {
    @apply text-white-500 text-base bg-pink-500;
}

.btn-cyan {
    @apply text-white-500 text-base bg-cyan-500;
}

.btn-lg {
    @apply py-3.5 px-14;
}

.btn-sm {
    @apply py-1 px-1;
}

.btn-gradient {
    @apply text-white-500;
    background: linear-gradient(
        90deg,
        #1ee8bb -18.52%,
        #18b1dc 17%,
        #4185ea 49.73%,
        #8e4ec7 85.24%,
        #ff50ce 115.19%
    );
}

.title {
    @apply text-3xl font-bold;
}

.title-2 {
    @apply text-xl font-bold;
}

.title-3 {
    @apply text-2xl font-bold;
}

.bg-image {
    @apply bg-center bg-cover bg-no-repeat;
}
.bg-image-1 {
    background-image: url('../assets/images/bg-1.svg');
}
.bg-image-2 {
    background-image: url('../assets/images/bg-2.svg');
}
.vertical-timeline-element-icon {
    left: 8px;
}
.vertical-timeline-element-content-arrow {
    top: 0;
}

.vertical-timeline.vertical-timeline--two-columns:before {
    background: #1ee8bb;
}
.vertical-timeline--two-columns .vertical-timeline-element-icon {
    box-shadow: 0 0 0 4px #1ee8bb, inset 0 2px 0 rgba(0, 0, 0, 0.08),
        0 3px 0 4px rgba(0, 0, 0, 0.05);
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline--two-columns .vertical-timeline-element-icon {
        left: 51% !important;
        margin-left: -23px;
    }
    .vertical-timeline--two-columns
        .vertical-timeline-element-content
        .vertical-timeline-element-date {
        top: 0 !important;
    }
}

.sidebar-link {
    @apply text-base text-gray-100 font-normal rounded-lg flex items-center p-2 hover:bg-gray-100;
}

.sidebar-link-active {
    @apply bg-blue-light;
}

.sidebar-icon {
    @apply w-6 h-6 text-white-500 flex-shrink-0 group-hover:text-blue-light transition duration-75;
}

.sidebar-icon-active {
    @apply text-white-500;
}

.sidebar-content {
    @apply ml-3 font-bold group-hover:text-blue-light;
}

.sidebar-content-active {
    @apply text-white-500;
}

.input-primary {
    @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg  block w-full p-2.5 focus:ring-orange-500 focus:border-orange-500 focus:outline-none;
}

.wallet-adapter-button {
    background-color: #ff50ce !important;
}
